<head>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script>
    // Scroll to top of page on refresh
    if (history.scrollRestoration) {
    history.scrollRestoration = 'manual';
    } else {
    window.onbeforeunload = function () {
        window.scrollTo(0, 0);
    }
    }
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
      {{ site.title }}
  </title>
</head>


