<div class="skills">
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="60" height="60"/>
        <p><button type="button" class="button-filter toggle">Python</button></p>
    </div>
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" width="60" height="60" />
        <p>Bash</p>
    </div>
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ansible/ansible-original-wordmark.svg" width="60" height="60"/>
        <p>Ansible</p>
    </div>
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" width="60" height="60"/>
        <p>AWS</p>
    </div>
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" width="60" height="60"/>
        <p>GitHub</p>
    </div>
    <div class="item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original-wordmark.svg" width="60" height="60"/>
        <p>Terraform</p>
    </div>
    <div class="item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/TS_logo.svg" width="60" height="60"/>
        <p>Splunk</p>
    </div>
</div>