<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}" class="html" data-theme="dark">
        {%- include head.html -%}
  <body>
    <main class="page-content aria-label="Content">
      <div class="container">
        {{ content }}
        <div class="credits">
          <a>&copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;{{site.author}}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://github.com/objectbased" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="{{ "/assets/js/test.js" | relative_url }}"></script>
  </body>
</html>