---
layout: default
---

<header>
  <h1 class="logo">
    <img src="{{ site.baseurl }}/assets/images/logo_transparent.png" alt="objectbased Logo" width="100" height="100">
  </h1>
</header>

{{ content }}

{%- include skills.html -%}

{% if site.theme_config.show_projects == true %}
	<h2 class="projects">{{ site.theme_config.home.title_projects }}</h2>
  {% include projects.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}