---
layout: default
---

<header>
  <h1>
    <img src="{{ site.baseurl }}/assets/images/logo_transparent.png" alt="objectbased Logo" width="60" height="60">
  </h1>
    <p>{{ site.description }}</p>
</header>

{{ content }}

<h2>Skills</h2>
{%- include skills.html -%}

{% if site.theme_config.show_projects == true %}
	<h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include projects.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}